@media(max-width: 480px){
  .header_content{
    width: 80%;
  }
  .header_content > nav{
    display: none;
  }
  .burger{
    opacity: 1;
  }
  .header{
    position: relative;
  }
  .menu_box{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
  }
  .menu_box nav{
    visibility: hidden;
    height: 200px;
    margin-top: 50px;
    margin-right: 20px;
    transition: all 2.5s ease 1s;
  }
  .menu_box nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
  }
  .menu_box svg{
    margin-top: 20px;
    margin-right: 20px;
    visibility: hidden;
    transition: all 2.5s ease 1s;

  }

  /* title_section starts */

  
  .title_section img:first-child{
    display: none;
  }
  .mobile_banner{
    display: block;
  }
  .title {
    width: 80%;
  }

  /* more_info_section starts  */
  .more_info{
    width: 80%;
    padding: 0;
  }
  .more_info p{
    font-size: 24px;
  }

  /* learning_course_section starts */
  .learning_course{
    width: 90%;
  }
  .learning_course h2, .project_partners h2{
    font-size: 32px;
    letter-spacing: 2px;
  }
  .learning_course_boxes{
    justify-content: center;
  }
  .learning_box{
    width: 100%;
  }
  .learning_box h6{
    font-size: 24px;
  }
  .learning_box p, .learning_box span{
    font-size: 22px;
  }


  /* project_partners_section starts */
  .project_partners{
    width: 90%;
  }
  .nextArrow, .prevArrow{
    display: none;
  }
  .slide{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .slide img {
    width: 70%; 
    height: auto;
    margin-bottom: 50px;
  }
/* faq_section starts */
  .faq_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .faq_box_title h3 {
    display: none;
  }
  .allAnswer {
    display: block;
  }
  /* footer starts */
  .footer_info {
    display: none;
  }
  .footer_info_mobile{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px;
  }
  .contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .footer_info_mobile .contact button{
    border-radius: 6px;
    background-color: rgb(0,174,243);
    color: rgb(255,255,255);
    transition: all 0.4s ease 0s;
    height: 40px;
    width: 160px;
    font-family: "BPG Rioni Vera", sans-serif;
  }
  .footer_info_mobile a{
    margin-bottom: 30px;
  }
  .footer_info_mobile a, .footer_info_mobile p {
    color: rgb(232, 230, 230);
  }
}