/* general styles */

*{
	box-sizing: border-box;
  margin: 0;
  list-style: none;
}
.conteiner{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  
}

/* header starts */
header{
  width: 100%;
  height: 84px;
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  /* position: fixed; */
}
.header_content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px; */
  border: 2px solid red;
}
.header_content svg{
  cursor: pointer;
}
.header_content nav {
  width: 50%;
  border: 2px solid green;
}
.header_content ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgb(244, 244, 244);
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
.header_content li:nth-child(3){
  color: rgb(2, 163, 224);
}
.header_content li:hover{
  color: rgb(2, 163, 224);
  cursor: pointer;
  transition: color 0.4s ease 0s;
}

/* title section starts */

.title_section{
  width: 100%;
  position: relative;
  /* background-image: url("./image.webp");
  background-position: center;
  background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  color: #fff;
  
}
.title{
  width: 50%;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  line-height: 60px;
  letter-spacing: 3px;
  font-weight: bold;
  border: 1px solid red;
}
.title_section img{
  width: 100%;
}
.title h1{
  font-size: 42px;
}
.title h2{
  font-size: 34px;
}

/* more_info_section starts */

.more_info_section{
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
}
.more_info {
  width: 50%;
  color: #F4F4F4;
  padding: 50px 0;
}
.more_info p{
  font-size: 28px;
  line-height: 1.6em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.more_info span{
  cursor: pointer;
  color: rgb(2, 163, 224);
  font-size: 28px;
}
.more_info span:hover{
  color: rgb(176,176,176)
}